
/* ====================*******===================== */

.contacttitre
{
    padding-top: 100px;
    text-align: center;
    background-image:url('../images/image\ header.jpg');
    background-size: cover;
    height: 250PX;
    
}
/* .contacttitre h1::after {
    content: '';
    position: absolute;
    background-image: url(../images/contact.png);
    background-size: 300px;
    width: 20%;
    height: 1000%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-1%);
} */


.contacttitre h1{
    position: relative;
    font-size: 33px;
}
.contacticone
{

position: absolute;
width: 19px;
height: 34px;
left: 503px;
top: 215px;
} 
.contacticone img
{
    width:250px;
}
section .parent-contact
{
    
    background: white;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between;
    padding: 5em;
    padding-top: 164px;
} 

 /* @media screen and (max-width: 750px) {
 .parent-contact {
            flex-direction: column;
                 }
  .contacttitre h1{
    transform: translateX(-2%);
  }
    } */


 section .parent-contact .contact1 form
 {
    background-color: rgba(185, 235, 242, 0.3);
    padding: 33px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 33px;

 }
 .contact1 form h1
 {
    font-size: 33px;
    padding-bottom: 40px;
    
 }
 .contact1 input
 {
    border-radius: 5px;
    padding: 13px;
    border: 1px solid black;
 }
 .contact1 textarea
 {
    border-radius: 5px;
    padding: 13px;
    border: 1px solid black;
 }

 #btncontact
 {
    height: 39px;
    background-color: #3569b2;
    color: white;
    font-size: 16PX;
    border-radius: 5px;
    border: 3PX;
    cursor: pointer;

 }

/* emoji headphone */

/* position: absolute;
width: 539px;
height: 364px;
left: 586px;
top: 325px;

background: url(.png); */


