@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

}
body{
    
    background-color: rgb(255, 255, 255);
}

:root {
    --main-color: #3076D7;
    --secondry-color: ;
    --background-color:#F0F6FE;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Pour les écrans très larges (plus de 1600px) */
@media screen and (min-width: 1600px) {
    .container {
        width: 75%;
    }

}

/* Pour les écrans de taille moyenne (tablettes ou petits ordinateurs, entre 768px et 1200px) */
@media screen and (max-width: 1200px) {
    .container {
        width: 85%;
    }

}

/* Pour les tablettes et petits écrans (entre 600px et 768px) */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Pour les téléphones mobiles (moins de 600px) */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}




header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
header .logo img{
    width: 300px;
    padding: 10px;
}

header .menu-burger {
 display: none;
}
header ul{
    list-style: none;
    display: flex;    
}    

header ul  li {
    padding: 10px;
}

header ul  li a {
    text-decoration: none;
}

header .compte {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    header .menu-burger {
        display: block;
       }
    header ul {
        display: none;
    }   
    header .compte {
        display: none;
    }
    nav .menu-burger:hover+ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--background-color);
        position: absolute;
        top: 107px;
        left: 0;
        width: 250px;
    }
    
}
header .compte button {
    padding: 10px;
}

header .compte .sing-up {
    background-color: white;
    border: 1px solid black;
    color: var(--main-color);
}

header .compte .log-in {
    background-color: var(--main-color);
    border: 1px solid black;
    color: white;
}
/* ====================*******===================== */

.contacttitre
{
    padding-top: 100px;
    text-align: center;
    background-image:url('../images/image\ header.jpg');
    background-size: cover;
    height: 250PX;
    
}
/* .contacttitre h1::after {
    content: '';
    position: absolute;
    background-image: url(../images/contact.png);
    background-size: 300px;
    width: 20%;
    height: 1000%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-1%);
} */


.contacttitre h1{
    position: relative;
    font-size: 33px;
}
.contacticone
{

position: absolute;
width: 19px;
height: 34px;
left: 503px;
top: 215px;
} 
.contacticone img
{
    width:250px;
}
section .parent-contact
{
    
    background: white;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between;
    padding: 5em;
    padding-top: 164px;
} 

 /* @media screen and (max-width: 750px) {
 .parent-contact {
            flex-direction: column;
                 }
  .contacttitre h1{
    transform: translateX(-2%);
  }
    } */


 section .parent-contact .contact1 form
 {
    background-color: rgba(185, 235, 242, 0.3);
    padding: 33px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 33px;

 }
 .contact1 form h1
 {
    font-size: 33px;
    padding-bottom: 40px;
    
 }
 .contact1 input
 {
    border-radius: 5px;
    padding: 13px;
    border: 1px solid black;
 }
 .contact1 textarea
 {
    border-radius: 5px;
    padding: 13px;
    border: 1px solid black;
 }

 #btncontact
 {
    height: 39px;
    background-color: #3569b2;
    color: white;
    font-size: 16PX;
    border-radius: 5px;
    border: 3PX;
    cursor: pointer;

 }

/* emoji headphone */

/* position: absolute;
width: 539px;
height: 364px;
left: 586px;
top: 325px;

background: url(.png); */


