@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

}
body{
    
    background-color: white;
}

:root {
    --main-color: #3076D7;
    --secondry-color: ;
    --background-color:#F0F6FE;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Pour les écrans très larges (plus de 1600px) */
@media screen and (min-width: 1600px) {
    .container {
        width: 75%;
    }

}

/* Pour les écrans de taille moyenne (tablettes ou petits ordinateurs, entre 768px et 1200px) */
@media screen and (max-width: 1200px) {
    .container {
        width: 85%;
    }

}

/* Pour les tablettes et petits écrans (entre 600px et 768px) */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Pour les téléphones mobiles (moins de 600px) */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}




header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header .logo {
   
}

header .logo img{
    width: 300px;
    padding: 10px;
}

header .menu-burger {
 display: none;
}
header ul{
    list-style: none;
    display: flex;    
}    

header ul  li {
    padding: 10px;
}

header ul  li a {
    text-decoration: none;
}

header .compte {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    header .menu-burger {
        display: block;
       }
    header ul {
        display: none;
    }   
    header .compte {
        display: none;
    }
    nav .menu-burger:hover+ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--background-color);
        position: absolute;
        top: 107px;
        left: 0;
        width: 250px;
    }
    
}
header .compte button {
    padding: 10px;
}

header .compte .sing-up {
    background-color: white;
    border: 1px solid black;
    color: var(--main-color);
}

header .compte .log-in {
    background-color: var(--main-color);
    border: 1px solid black;
    color: white;
}





.hero{
    background-color: #F0F6FE;
    border-radius: 50px;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
form{
   border: solid 1px rgba(37, 36, 36, 0.171);
   border-radius: 10px;
   padding: 10px;
   background-color: white;
   margin-top: 30px;
}
form input{
    width: 300px;
    height: 40px;
    border: none;
   
    background-color: white;
   
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}
form button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgba(48, 48, 245, 0.76);
    border: none;
    border-radius: 5px;
}
.inp-1{
    border-right: solid 2px rgba(54, 52, 52, 0.568);
}

.about-1{
   
    background-color: #F0F6FE;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.about-1 h3{
    color: #3076D7;
}

.icons-content div{
    display: flex;
    align-items: center;
    justify-content: center;
}