
.offericone
{
position: absolute;
width: 19px;
height: 34px;
left: 400px;
top: 115px;
} 
.offertitre
{
    padding-top: 100px;
    text-align: center;
    background-image:url('../images/image\ header.jpg');
    background-size: cover;
    height: 250PX;
    
}
.offericone img
{
    padding-top: 76PX;
    width:490px;
    z-index: 1000;
}
.parent-offer
{
    margin-top: 200px;
    margin-bottom: 200px;
}
#offer1 form
{
    margin-left: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,90px);
    gap: 20PX;

   
}
.case,
.address
{
    display: flex;
    flex-direction: column;
    margin:  20px;
    position: relative;

}
.case i
{
position: absolute;
top: 80%;
left: 3%;


}

.case input
{
    padding: 10px;
    margin-top: 10px;
    padding-left: 30PX;

} 


.address  {
   grid-column: 1/4;

}
.address input
{
    
        padding: 10px;
        margin-top: 10px;
        padding-left: 30PX;
    
    
}

.address i
{
  
    position: absolute;
    top: 80%;
    left: 1%;
}
#btnoffer
{
   height: 35px;
   background-color: #3569b2;
   color: white;
   font-size: 16PX;
   border-radius: 5px;
   border: 3PX;
   cursor: pointer;
   text-align: center;
   margin-left:20px ;
   padding: 10px;

}
